  <blockquote>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eget leo nunc, nec tempus mi? Curabitur id nisl mi, ut vulputate urna!
          <cite>Somebody famous</cite>
          </blockquote>
         </div>