 
<h2> Color Classes </h2>
  <br/>
 <p class="green">This is text with class="green"</p>
          <p class="red">This is text with class="red"</p>
          <p class="grey">This is text with class="grey"</p>
          <p class="orange">This is text with class="orange"</p>
          <p class="blue">This is text with class="blue"</p>
