  

  <nav class="main-nav" id="pres-listing">

     <a href="#" id="close-listing"> ☰ </a>
 
    <% @presentations.each do |p| %> 
     <a >  <%= p.id %>
      <a href="<%= presentation_path(p) %>" target="_blank" class="action"> Show </a> 
      <%= link_to "Delete", p, method: :delete %>
    <!--   <a class="action"> Remove </a>   -->
      <a class="action"> Edit </a>  
    </a>

    <% end %>


</nav>