   <h2>This is h2 </h2>
            <p class="substep fadeIn" data-duration="1000"> Substep fadeIn </p>
            <p class="substep fadeInRight" data-duration="2000"> Substep fadeInRight</p>
            <p class="substep fadeInLeft" data-duration="3000"> Substep  fadeInLeft</p>
            <p class="substep rollIn" data-duration="4000"> Substep rollIn </p>
            <p class="substep flipInX" data-duration="5000"> Substep flipInX </p>
            <p class="substep flipInY" data-duration="1000"> Substep flipInY</p> 
         </div>