

<div id="impress">
    <% @num_slides.times do |n| %>
        <div class="step slide">
            <h2>slide <%= n+1 %></h2>
        </div>
    <% end %>
</div>

<%= javascript_include_tag "impress" %>
<%= javascript_include_tag "impress-layouts" %>

<script>
  <% if @layout == "vertical" %>
    layoutVertical();
  <% elsif @layout == "linear" %>
    layoutLinear();
  <% elsif @layout == "circle" %>
    layoutCircleV2({radius: 1500 });
  <% end %>
  impress().init();
</script>
<script> var api = impress();</script>
