<div id="impress">
    <% @num_slides.times do |n| %>
        <div class="step slide">
            <p>slide <%= n+1 %></p>
        </div>
    <% end %>
</div>

<script> layoutVertical(); impress().init();</script>


