

<div id="impress">
    <% @num_slides.times do |n| %>
        <div class="step slide">
            <p>slide <%= n+1 %></p>
        </div>
    <% end %>
</div>


<script src="http://lipen.co/impress.js-myscript/js/impress-layouts.js"></script>
<script src="http://lipen.co/impress.js-myscript/js/impress.js"> </script>
<script> layoutVertical(); impress().init();</script>


