<head>
    <title>ImpressLab</title>

    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans|Lato:400,900' rel='stylesheet' type='text/css'>
 
  <%= stylesheet_link_tag "def.css", :media => "all" %>

  <%= stylesheet_link_tag "style-dashboard2.css"  %>
  <%= javascript_include_tag "modernizer.js" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


</head>
<body>
<div id="container">
    <div id="main">
        <img class="cover" src="/assets/cover.jpg">
        <div class="circle">
            <h1>I M P<br/>R E Z</h1>
        </div>
        <div id="mainHeader" class="clear_fix">
            <nav>
                <div class="animateArrowParent">
                    <a class="learnMore" href="./build"><div class="arrow-light animateArrow"></div><span class="toUpper demi">Build it</span></a>
                </div>
                <div class="socialIcons">
                    <a class="facebook" href="" target="_blank">FB</a>
                    <a class="twitter" href="" target="_blank">Tw</a>
                </div>
            </nav>
        </div>
        <div class="sectionLeft">
            <a href="./home">
                <div id="homeText" ><h1>
                   Impressive Technology For Your Presentation</h1>
                </div>
            </a>         
        </div>
   </div>
    <div id="footer">
        <div class="sectionRight">
            <ul class="toUpper lightNav">
                <li><a href="">ImpressLab.</a></li>
                <li><a href="">made with impress.js.</a></li>
                <li><a href="">news.</a></li>
                <li><a href="./about">about.</a></li>
                <li><a href="">developers.</a></li>
                <li><a href="./contact">contact.</a></li>
            </ul>
            <div id="footerInfo">
                <p>
                    2013 &copy; Lipen.co. Made in Berlin, Chojnice, Sant Petersburg, London and Tokyo on Rails Girls Summer of Code.
                </p>
            </div>
        </div>
     </div>
  </div>
</body>
</html>
