<ul class="no-edit">
<li class="no-edit" data-fontname="Abril Fatface"><img class="icon-on-edit" src="/assets/fonts/Abril-Fatface.png"></li>
<li class="no-edit" data-fontname="Alegreya Small Caps"><img class="icon-on-edit" src="/assets/fonts/Alegreya-Small-Caps.png"></li>
<li class="no-edit" data-fontname="Alfa Slab One"><img class="icon-on-edit" src="/assets/fonts/Alfa-Slab-One.png"></li>
<li class="no-edit" data-fontname="Alike"><img class="icon-on-edit" src="/assets/fonts/Alike.png"></li>
<li class="no-edit" data-fontname="Allerta Stencil"><img class="icon-on-edit" src="/assets/fonts/Allerta-Stencil.png"></li>
<li class="no-edit" data-fontname="Allura"><img class="icon-on-edit" src="/assets/fonts/Allura.png"></li>
<li class="no-edit" data-fontname="Amaranth"><img class="icon-on-edit" src="/assets/fonts/Amaranth.png"></li>
<li class="no-edit" data-fontname="Amatic SC"><img class="icon-on-edit" src="/assets/fonts/Amatic-Small-Caps.png"></li>
<li class="no-edit" data-fontname="Anonymous Pro"><img class="icon-on-edit" src="/assets/fonts/Anonymous-Pro.png "></li>
<li class="no-edit" data-fontname="Antic"><img class="icon-on-edit" src="/assets/fonts/Antic.png "></li>
<li class="no-edit" data-fontname="Anton"><img class="icon-on-edit" src="/assets/fonts/Anton.png "></li>
<li class="no-edit" data-fontname="Architects Daughter"><img class="icon-on-edit" src="/assets/fonts/Architects-Daughter.png "></li>
<li class="no-edit" data-fontname="Archivo Narrow"><img class="icon-on-edit" src="/assets/fonts/Archivo-Narrow.png "></li>
<li class="no-edit" data-fontname="Arimo"><img class="icon-on-edit" src="/assets/fonts/Arimo.png "></li>
<li class="no-edit" data-fontname="Arvo"><img class="icon-on-edit" src="/assets/fonts/Arvo.png "></li>
<li class="no-edit" data-fontname="Berkshire Swash"><img class="icon-on-edit" src="/assets/fonts/Berkshire-Swash.png "></li>
<li class="no-edit" data-fontname="Black Ops One"><img class="icon-on-edit" src="/assets/fonts/Black-Ops-One.png "></li>
<li class="no-edit" data-fontname="Cabin Sketch"><img class="icon-on-edit" src="/assets/fonts/Cabin-Sketch.png "></li>
<li class="no-edit" data-fontname="Cantora One"><img class="icon-on-edit" src="/assets/fonts/Cantora-One.png "></li>
<li class="no-edit" data-fontname="Carter One"><img class="icon-on-edit" src="/assets/fonts/Carter-One.png "></li>
<li class="no-edit" data-fontname="Chewy"><img class="icon-on-edit" src="/assets/fonts/Chewy.png"></li> 
<li class="no-edit" data-fontname="Cinzel"><img class="icon-on-edit" src="/assets/fonts/Cinzel.png "></li> 
<li class="no-edit" data-fontname="Clicker Script"><img class="icon-on-edit" src="/assets/fonts/Clicker-Script.png "></li> 
<li class="no-edit" data-fontname="Codystar"><img class="icon-on-edit" src="/assets/fonts/Codystar.png "></li> 
<li class="no-edit" data-fontname="Courgette"><img class="icon-on-edit" src="/assets/fonts/Courgette.png "></li> 
<li class="no-edit" data-fontname="Coustard"><img class="icon-on-edit" src="/assets/fonts/Coustard.png "></li> 
<li class="no-edit" data-fontname="Crafty Girls"><img class="icon-on-edit" src="/assets/fonts/Crafty-Girls.png "></li> 
<li class="no-edit" data-fontname="Creepster"><img class="icon-on-edit" src="/assets/fonts/Creepster.png "></li> 
<li class="no-edit" data-fontname="Crushed"><img class="icon-on-edit" src="/assets/fonts/Crushed.png"></li> 
<li class="no-edit" data-fontname="Diplomata SC"><img class="icon-on-edit" src="/assets/fonts/Diplomata-Small-Caps.png "></li> 
<li class="no-edit" data-fontname="Dr Sugiyama"><img class="icon-on-edit" src="/assets/fonts/Dr-Sugiyama.png"></li> 
<li class="no-edit" data-fontname="Droid Serif"><img class="icon-on-edit" src="/assets/fonts/Droid-Serif.png "></li> 
<li class="no-edit" data-fontname="Economica"><img class="icon-on-edit" src="/assets/fonts/Economica.png "></li> 
<li class="no-edit" data-fontname="Emilys Candy"><img class="icon-on-edit" src="/assets/fonts/Emilys-Candy.png "></li> 
<li class="no-edit" data-fontname="Fredoka One"><img class="icon-on-edit" src="/assets/fonts/Fredoka-One.png "></li> 
<li class="no-edit" data-fontname="Germania One"><img class="icon-on-edit" src="/assets/fonts/Germania-One.png "></li> 
<li class="no-edit" data-fontname="Glass Antiqua"><img class="icon-on-edit" src="/assets/fonts/Glass-Antiqua.png "></li> 
<li class="no-edit" data-fontname="Glegoo"><img class="icon-on-edit" src="/assets/fonts/Glegoo.png "></li> 
</ul>