<div class="container">
  <form>
    <fieldset>
      <legend>Set Your Presentation Up</legend>
      <input type="text" id="num_slides" placeholder="Number of slides">
      <label class="checkbox">
        <input type="checkbox"> Circle slides
      </label>
      <label>What kind of layout do you want?</label>
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" id="vertical" class="layout-button btn btn-primary" 
        value="vertical">Vertical</button>
        <button type="button" id="linear"  class="layout-button btn btn-primary" 
        value="linear">Linear</button>
        <button type="button" id="circle"  class="layout-button btn btn-primary" 
        value="circle">Circle</button>
      </div>
      <button id="generator" type="button"   class="btn btn-large">Generate Presentation</button>
    </fieldset>
  </form>

  <script>
  var generator = document.getElementById('generator');
   generator.addEventListener('click', updatePreview, false);
  document.getElementById('preview').focus();

  </script>
 
</div>
<iframe src="/presentation" id="preview" />
