<head>
  <title>ImpressJsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
  <div class="header">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
           <a class="brand" href="/index.html">Impress Builder</a>
            <ul class="nav">
              <li class="active">
                <a href="/index.html">Build</a>
              </li>
              <li class="">
                <a href="">Components</a>
              </li>
              <li class="">
                <a href="./customize.html">Customize</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </div>

<div class="container">
  <form>
    <div class="row">
      <div class="span3">
        <legend>
          Set Your Presentation Up
        </legend>
        <input type="text" id="num_slides" placeholder="Number of slides">
      </div>
      <div class="span3">
        <label>
          Choose the slides shape?
        </label>
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" id="circle" class="layout-button btn btn-primary" 
          value="circle">
            Circle
          </button>
          <button type="button" id="rectangle"  class="layout-button btn btn-primary" 
          value="rectangle">
            Rectangle
          </button>
        </div>
      </div>
      <div class="span4">
        <label>
          What kind of layout do you want?
        </label>
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" id="vertical" class="layout-button btn btn-primary" 
          value="vertical">
            Vertical
          </button>
          <button type="button" id="linear"  class="layout-button btn btn-primary" 
          value="linear">
            Linear
          </button>
          <button type="button" id="circle"  class="layout-button btn btn-primary" 
          value="circle">
            Circle
          </button>
        </div>
      </div>
      <div class="span4">
        <label>
          What kind of theme do you want?
        </label>
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" id="basic" class="layout-button btn btn-primary" 
          value="basic">
            Basic
          </button>
          <button type="button" id="textured"  class="layout-button btn btn-primary" 
          value="textured">
            Textured
          </button>
        </div>
      </div>
      <div class="span3">
        <label>
          Do you want automatated presentation
        </label>
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" id="auto" class="layout-button btn btn-primary">
            Yes
          </button>
          <button type="button" id="noauto"  class="layout-button btn btn-primary">
            No
          </button>
        </div>
      </div>
    </div>
    
    <div class="span6">
      <button id="generator" type="button" class="btn btn-large">
        Generate Presentation
      </button>
      <button id="download" type="button" class="btn btn-large">
        Download Zip
      </button>
    </div>
  </form>
  
  <script>
    var generator = document.getElementById('generator');
    generator.addEventListener('click', updatePreview, false);
    document.getElementById('preview').focus();
    
  </script>
  

<iframe src="/presentation" id="preview" />
</div>
</body>
