a {
    text-decoration: none;
  }
  ul, ul ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }


  #shadow-bottom {
    margin: 0 auto;
    width: 331px;
    height: 94px;
    background: url(../images/shadow-bottom.png) no-repeat;
    background-position: 0 0;
    
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  .accordion {
    background: #fff;
    width: auto;
    height: auto;
    padding: 18px 0;
    margin-left: 0;
  }
  /* Main Menu List Links */
  .accordion > li > a {
    width: 100%;
    margin: 0 auto;
    height: 39px;
    line-height: 39px;
    text-indent: 18px;
    display: block;
    position: relative;
    font-weight: 600;
    color: #646464;
  }
  
  .accordion > li > a:after {
    content: "\f105";
     font-family:'FontAwesome';
     position: absolute;
     right: 30px;
  }
  
  .accordion > li > a:hover, 
  .accordion > li > a.active {
    color: #fff;
    -webkit-transition: background 0.4s ease-in-out;
    -moz-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
  }
  
  .accordion > li > a.active:after {
    content: "\f106";
    font-family:'FontAwesome';
    position: absolute;
    right: 30px;
  }

  /* Submenu List Links */
  .accordion ul li a {
    width: 212px;
    margin: 0 auto;
    line-height: 39px;
    text-indent: 24px;
    display: block;
    position: relative;
    font-size: 14px; 
    color: #646464;
  }
  
  /* First Submenu Item */
  .accordion ul li:first-child a {
    height: 34px;
    margin-top: 17px;
  }
  
  /* Last Submenu Item */
  .accordion ul li:last-child a {
    height: 34px;
    margin-bottom: 17px;
  }
  
  /* Before Current (active) Submenu Item */
  .accordion > li > ul li a.current:before{
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 10px;
    position: absolute;
    height: 6px;
    top: 0px;
   left: -28px;
  }
  
  /* Current (active) Submenu Item */
  .accordion > li > ul li a.current {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  /* Submenu Hover Transitions */
  .accordion > li > ul li:hover a,
  .accordion > li > ul li:hover a:before {
    -webkit-transition: color 0.4s ease-in-out;
    -moz-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
  }

  
  .accordion > li > a:hover, .accordion > li > a.active 
{ background-color: #389646; }

.accordion > li > ul li a.current, 
.accordion > li > ul li a.current:before, 
.accordion > li > ul li:hover a,
.accordion > li > ul li:hover a:before,
.accordion > li > ul li:hover a,
.accordion > li > ul li:hover a:before 
{ color: #389646; }

.accordion > li > ul li a.current
{ font-weight: 600;}

.accordion ul li a {
  -moz-box-shadow: inset 2px 0px 0px 0px #e5e5e5;
  -webkit-box-shadow: inset 2px 0px 0px 0px #e5e5e5;
  box-shadow: inset 2px 0px 0px 0px #e5e5e5;
  color: #8d8d8d;
}

.accordion > li > ul li:hover a,
.accordion > li > ul li:hover a:before {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #000000;
}