#loading {
  background: rgba(0, 50, 250, 0);
  position: relative;
  margin: 20% 65%;
  width: 5em; 
  height: 5em;
  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
          animation-name: rotate;
}

#loading,
#loading:before,
#loading:after {
  border-radius: 100%;
  -webkit-animation-duration: 3s;
     -moz-animation-duration: 3s;
      -ms-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
     -moz-animation-timing-function: ease-in;
      -ms-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

#loading:before,
#loading:after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: inherit; height: inherit;
}

#loading:before {
  background: rgba(200, 250, 100, 0);
  -webkit-animation-name: ring;
     -moz-animation-name: ring;
      -ms-animation-name: ring;
          animation-name: ring;
}

#loading:after {
  background: rgba(250, 0, 200, 0);
  -webkit-animation-name: ring2;
     -moz-animation-name: ring2;
      -ms-animation-name: ring2;
          animation-name: ring2;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  85%, 100% {  
    -webkit-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-moz-keyframes rotate {
  0% {
    -moz-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  85%, 100% {  
    -moz-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-ms-keyframes rotate {
  0% {
    -ms-transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  85%, 100% {  
    -ms-transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg) scaleX(0.1) scaleY(0.1) translateZ(0);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  85%, 100% {  
    transform: rotateZ(3600deg) scaleX(2.01) scaleY(2) translateZ(0);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: scaleX(0.1) scaleY(0.5);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  75%, 100% {
    -webkit-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: scaleX(0.1) scaleY(0.5);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  75%, 100% {
    -moz-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-ms-keyframes ring {
  0% {
    -ms-transform: scaleX(0.1) scaleY(0.5);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  75%, 100% {
    -ms-transform: scalex(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@keyframes ring {
  0% {
    transform: scaleX(0.1) scaleY(0.5);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  75%, 100% {
    transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-webkit-keyframes ring2 {
  0% {
    -webkit-transform: scaleX(0.5) scaleY(0.1);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  65%, 100% {
    -webkit-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-moz-keyframes ring2 {
  0% {
    -moz-transform: scaleX(0.5) scaleY(0.1);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  65%, 100% {
    -moz-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@-ms-keyframes ring2 {
  0% {
    -ms-transform: scaleX(0.5) scaleY(0.1);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  65%, 100% {
    -ms-transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}

@keyframes ring2 {
  0% {
    transform: scaleX(0.5) scaleY(0.1);
    box-shadow: inset 0.8em 0 0 rgba(255, 0, 0, 0.5), inset 0 0.8em 0 rgba(252, 150, 0, 0.5), inset -0.8em 0 0 rgba(0, 255, 0, 0.5), inset 0 -0.8em 0 rgba(0, 150, 255, 0.5);
  }
  65%, 100% {
    transform: scaleX(2) scaleY(2.1);
    box-shadow: inset 0 0 0 rgba(255, 0, 0, 0), inset 0 0 0 rgba(252, 150, 0, 0), inset 0 0 0 rgba(0, 255, 0, 0), inset 0 0 0 rgba(0, 150, 255, 0);
  }
}



.circle2 {
  background: rgb(255,255,255);
  border-radius: 100%;
  cursor: pointer;
  position: relative;
  /*top:5px;
  left: 90px;*/
  margin: 5px auto;
  width: 45px; 
  height: 45px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
      transform: translateZ(0);
}

.circle2 h1 {
  color: rgba(189, 185, 199,0);
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 0.8em;
  line-height: 2.5em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
    -ms-user-select: none;
      user-select: none;
  -webkit-transition: color 0.8s ease-in-out;
     -moz-transition: color 0.8s ease-in-out;
    -ms-transition: color 0.8s ease-in-out;
      transition: color 0.8s ease-in-out;
}

.circle2:before,
.circle2:after {
border-radius: 100%;
  content:"";
  position: absolute;
  top: 0; left: 0;
  width: inherit; height: inherit;
/*  box-shadow: inset 10.6em 0 0 #389646,
        inset 0 10.6em 0 rgba(30, 140, 209, 0.2),
        inset -10.6em 0 0 rgba(30, 140, 209, 0.2),
        inset 0 -10.6em 0 rgba(30, 140, 209, 0.2);*/
  -webkit-transition: box-shadow 0.75s;
     -moz-transition: box-shadow 0.75s;
    -ms-transition: box-shadow 0.75s;
      transition: box-shadow 0.75s;
       box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5),
        inset 0 0.86em 0 rgba(252, 150, 0, 0.5),
        inset -0.86em 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
}

.circle2:after {
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      transform: rotate(45deg);
       box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5),
        inset 0 0.86em 0 rgba(252, 150, 0, 0.5),
        inset -0.86em 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);
}

.circle2:hover:before,
.circle2:hover:after {
/*  box-shadow: inset 0.86em 0 0 rgba(255, 0, 0, 0.5),
        inset 0 0.86em 0 rgba(252, 150, 0, 0.5),
        inset -0.86em 0 0 rgba(0, 255, 0, 0.5), 
        inset 0 -0.86em 0 rgba(0, 150, 255, 0.5);*/
          box-shadow: inset 10.6em 0 0 #389646,
        inset 0 10.6em 0 rgba(30, 140, 209, 0.2),
        inset -10.6em 0 0 rgba(30, 140, 209, 0.2),
        inset 0 -10.6em 0 rgba(30, 140, 209, 0.2);
}

.circle2 > h1 {
  color: rgba(185, 185, 185,1);
}

 .nav a {
  font-size: 1.2em;
  color: rgba(189, 185, 199,0);
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
/*  font-weight: 900;*/
  line-height: 2em;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
     -moz-user-select: none;
    -ms-user-select: none;
      user-select: none;
  -webkit-transition: color 0.8s ease-in-out;
     -moz-transition: color 0.8s ease-in-out;
    -ms-transition: color 0.8s ease-in-out;
      transition: color 0.8s ease-in-out;
}

.navbar .nav>.active>a  {
  color: #389646;
  background: none;
  box-shadow: none;
 }

.navbar .nav>a  {
  padding: 5px 10px;
 }

.navbar-inner {
  position: fixed;
  top: 0px;
  width: 100%;
  margin-top: 0px;
  z-index: 9999;
  height: 55px;
 }






.home {
color: #333333;
text-shadow: none;
background-color: #fff;
font: 13px Helvetica, arial, freesans, clean, sans-serif;
line-height: 1.4;
}



#showNum {
  font: 35px / 1 Courier;
  font-weight: bold;
}


.layout-btn {
  width: 54%;
  height: 40px
}

.arrows {
  background-image: url('/assets/ui2.jpg');
  width: 200px;
  height: 150px;
  opacity: 0.7;
  position: fixed;
  bottom:20%;
  right: 33%;
  z-index: 9999;
}




#preview {
  position: fixed;
  width: 85%;
  height: 91%;
  margin-top: 55px;
  margin-left: 200px;

}

#preview:focus {
  border: 3px solid;
  border-color:rgba(237,29,137,0.8);
}

.controller {
position: relative;
padding: 8px 10px;
margin: 5px 0;
display: block;
text-shadow: 0 1px 0 #fff;
text-decoration: none;
border-top: 1px solid transparent;
outline: 0;
color: #4183c4;
font-size: 1.1em;
}

.separator {
position: relative;
display: block;
margin: 8px 0 6px;
height: 5px;
background-image: -webkit-radial-gradient(left top, farthest-side, #f4f4f4, rgba(244,244,244,0));
background-image: -moz-radial-gradient(left top, farthest-side, #f4f4f4, rgba(244,244,244,0));
background-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0));
margin-left: 1px;
}

.example-iframe {
  width: 400px;
  height: 300px;
}

.green-button {
  background-color: #389646;
  width: 100%;
  margin: 0 auto;
  height: 39px;
line-height: 39px;
text-indent: 18px;
display: block;
position: relative;
font-weight: 600;
  color: #fff;
}

.mode {

  border: 1px solid #389646;
  width: 100%;
  margin: 0 auto;
  height: 39px;
  line-height: 39px;
  text-indent: 18px;
  display: block;
  position: relative;
  font-weight: 600;
  color: #000;

  -webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
-ms-transition: all 1s ease;
transition: all 1s ease;
}

ul.modes {
  margin-bottom: 0;
  padding: 0;
}

.mode.appear.active {
  background-color: #389646;
 
}

.modes > li > a {
  width: 99.2%;
}

.green-button:hover {
 color: #fff;
}




.new-slide {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 3%;
  left:6%;
}

.copy-slide {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 3%;
  left:1%;
}

.delete-slide {
   width: 30px;
  height: 20px;
  display: block;
  position: absolute;
 bottom: 3%;
  left:11%;
}

.add-wallpaper {
  margin-left: 23px;
   margin-top: 8px;
  font-size: 1.5em;
  color: rgba(63,70,82, 0.9);
  text-shadow: 1px 1px 0 #ffffff;
  -webkit-transition: color 0.3s linear;
-moz-transition: color 0.3s linear;
transition: color 0.3s linear;
}

.add-wallpaper:hover {
    color: #389646;
    text-decoration: underline;
    cursor: pointer;
}

.add-picture{
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:16%;
}

.add-deco {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:22%;
}

.add-background {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:33%;
}

.add-icon {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:27%;
}

.add-edit {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2%;
  left:6%;
}

.sort-slides {
   width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2%;
  left: 2%;
}

.resize-img {
  width: 30px;
  height: 20px;
  color: #389646;
  position: absolute;
  top: 2%;
  left: 12%;
  display: none;
}

.icon-move {
  color: #389646;
  position: absolute;
  bottom: 5px;
  left: -50px;
 font-size: 25px;
}

.icon-trash {
  color: #389646;
  position: absolute;
  bottom: 5px;
  left: -90px;
  font-size: 25px;
}

.download {
  margin-top: 5px;
}

.download:after {
     content: "\f0ed";
     font-family:'FontAwesome';
     position: absolute;
     right: 30px;
  }
.content:after {
     content: "\f054";
     font-family:'FontAwesome';
     position: absolute;
     right: 30px;
  }

.icon-2 {
font-size: 20px;
color: #389646;
position: relative;
margin: 1em;
margin-top: 6em;
}

.icon-22 {
font-size: 22px;
color: #389646;
position: relative;
padding: 9px;
 -webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
transition: all 1.5s ease;
}





/*.red-icon {
  color: #a74240;
  font-size: 0.9em;
  position: relative;
  padding: 9px;
-webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
transition: all 1.5s ease;
}*/


nav {
  position: fixed;
  left: 0;
  top: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  height: 95%;
  overflow: auto;
  width: 60px;

}

nav ul {
  color: #444444;
  text-align: center;
  line-height: 40px;
  width: 40px;
  list-style-type: none;
  border: 2px solid #389646;
}
nav ul li {
  width: 40px;
  height: 40px;
  background: #ffffff;
  opacity: 1;
  margin-bottom: 1px;
  cursor: pointer;
  font: 400 16px/50px 'Lato', sans-serif;
}
nav ul li:hover {
  background: #ffffff;
  opacity: 0.8;
}
nav ul li:active {
  background: #ffffff;
  opacity: 0.5;
}

.popline-picture {
  width: 380px;
  margin-top: 5px;
  margin-left: -70px;
  position: relative;
  display: block;
  border-radius: 5px;
  font-size: 24px;
  padding: 20px 10px;
   -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
   box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
   line-height: 31px;
   font-weight: lighter;
   background-color: #389646;

}

.fa-times {
  position: absolute;
  top:10px;
  right: 15px;
  color: #000;
  font-size: 1.5em;
}


.images {
 /* position: absolute;
  top: 0;*/
  background-color: #323232;
  text-align: center;
  padding: 1em 2em;
  border-bottom: 2px solid #444444;
  border-left: 2px solid #444444;
  border-right: 2px solid #444444; 
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap

}

.images-absolute {
  background-color: #323232;
  text-align: center;
  padding: 1em 2em;
  position: fixed;
  margin: 20px 25%;
  z-index: 100;
  height: 60%;
  width: 500px;
    border-bottom: 2px solid #444444;
  border-left: 2px solid #444444;
  border-right: 2px solid #444444; 
  overflow-y: scroll;
   overflow-x: hidden;
}




.images img {
    margin: 2px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
 }

 .images-absolute img {
    margin: 2px;
    cursor: pointer;
    display:inline-block;
 }


.icon-layer-up, .icon-layer-up2{
    width:15px;
    height:15px;
    position:absolute;
    top:0px;
    background: #389646;
    padding: 10px;
    z-index: -1;
}

.icon-layer-down, .icon-layer-down2 {
    width:15px;
    height:15px;
    position:absolute;
    top:30px;
    background: #389646;
    color: #fff;
    padding: 10px;
    z-index: -1;  
}


.icon-trash1, .icon-trash2 {
   width:15px;
    height:15px;
    position:absolute;
    top:60px;
      left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;  
}

.icon-copy-el, .icon-copy-el2 {
   width:15px;
    height:15px;
    position:absolute;
    top:90px;
    left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;  
}

.icon-move {
   font-size: 0.5em;
    height:15px;
    width:15px;
    position:absolute;
    top: 0;
    left: 102%;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;
}


.font2 {
   font-size: 0.5em;
    width:15px;
    height:15px;
    position:absolute;
    top:90px;
    left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;
}
.icon-font-size {
 width:15px;
    height:15px;
    position:absolute;
    top:120px;
    left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1; 
}

.fonts-container , .fonts-size-container  {
  background-color: #389646;
  text-align: center;
  padding: 0.5em;
  position:absolute;
  top:0;
  right: 100%;
  z-index: 100;
  height: 200px;
  width: 100px;
  overflow: scroll;
}

.fonts-container ul, .fonts-size-container ul {
  list-style: none;
  margin: 0;
  }

.fonts-container ul li {
  font-size: 0.5em;
  cursor: pointer;
}

.fonts-size-container ul li {
   cursor: pointer;
   color: #ffffff;
   font-size: 0.6em;

}

.icon-check {
  margin-left: 1.5em;
  font-size: 0.9em;
}

form#login, form#new_user {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 78%;
  height: 100%;
  border-radius: 0;
  padding: 2em;
  text-align: center;
  color: #fefefe;
  z-index: 10000;
  margin-left: 5px;
}



form#login h2, form#new_user h2 {
    margin: -1em 0 0.4em 0;
    display: block;
    font-size: 2em;
    opacity: 0.8;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: lighter;
    font-family: Helvetica, Arial, sans-serif;
}

form#login p, form#new_user p {
    display: block;
    font-size: 1.2em;
    line-height: 1.5em;
    opacity: 0.8;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: lighter;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

button.facebookLogin:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 40px;
  border-right: 1px solid rgba(0,0,0,0.25);
  background-image: url('https://di8vc3anm8wl1.cloudfront.net/static/images/facebook_button_icon.d8f746f.png');
  background-repeat: no-repeat;
  background-position: 55% 50%;
  box-shadow: 1px 0 0 rgba(255,255,255,0.15);
  display: inline-block;
}

button {
position: relative;
height: 43px;
width: 100%;
outline: none;
margin: 0;
border: 0 none transparent;
padding: 0 1em 0 1em;
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.25));
background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
color: #ffffff;
font-size: 100%;
font-family: 'Open Sans', sans-serif;
font-weight: 400;
text-shadow: -1px -1px 0 rgba(0,0,0,0.4);
line-height: 43px;
text-decoration: none;
text-align: center;
cursor: pointer;
-webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
-moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
box-shadow: inset 0 -3px 0 rgba(0,0,0,0.25);
-webkit-transition: background-color 0.15s linear;
-moz-transition: background-color 0.15s linear;
transition: background-color 0.15s linear;
background-color: #4668b3;
position: relative;
padding: 0 0 0 2.4em;
margin: 10px 0;
}

button.facebookLogin:hover {
background-color: #4668b3;
}

form .or {
  position: relative;
  margin: 0.8em 0 0 0;
  font-size: 120%;
  font-family: Georgia, serif;
  font-style: italic;
  text-align: center;
  opacity: 0.6;
  display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}

form .or:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 42%;
  border-top: 1px solid #fff;
  opacity: 0.333;
}

form .or:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 42%;
  border-top: 1px solid  #fff;
  opacity: 0.333;
}


#login input[type=text], input[type=password], form#new_user #user_username, form#new_user #user_email {
  width: 100%;
  height: 43px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 1px solid rgba(0,0,0,0.2);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 10px;
  background: #ffffff;
}

#login input[type=submit] , #new_user input[type=submit]   {
  width: 100%;
  border: none;
  padding: 0 10px;
  margin: 0;
  border-radius: 5px;
  margin-bottom: 20px;

}

.forgotLink a {
color: #7f7f7f;
}

.notice {
  position: fixed;
  top:2%;
  right: 10%;
}


.page-wrap {
  float: right;
  width: 100%;
  height: 100%;
  transition: width 0.3s ease;
}

.main-nav, #login-nav {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background: #3B3B3B;
  overflow-y: auto;
  border-radius: 0;
  transition: width 0.3s ease;
}
.main-nav a {
  display: inline-block;
  color: white;
  width: 40px;
}

.main-nav .row-name {
  display: block;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
  color: white;
  padding: 5px 0;
}

.main-nav .row-name:hover {
    border-left: 3px solid #389646;
}

.main-nav .new {
  padding: 1.2em 8em;
  background: #389646;
}

.main-nav .close {
  width: 100%;
  padding: 1.2em 0;
  background: transparent;
}

.main-nav .new a {
  font-size: 1.2em; 
  text-decoration: none;
}

.main-nav .new a:hover {
  background: transparent; 
}

.main-nav a.name {
  display: inline-block;
  color: white;
  padding: 10px;
  width:140px;
}
/*.main-nav a .actions {
  display: inline-block;
  width: 25%;
  padding: 10px;
  border-radius: 0;
  opacity: 0.8;
  background: linear-gradient(#3e3e3e, #383838);
  border-top: 1px solid #484848;
  border-bottom: 1px solid #2E2E2E;
}*/

.main-nav  #close-listing {
  display: block;
  width: 90%;
  text-align: right;
  color: #389646;
}



.main-nav a:hover, .main-nav a:focus {
  background: #383838;
}

#close-menu, #close-login-menu {
  display: none;
}

.icon-remove {
  font-size: 1.5em;
  padding-left: 0.5em;
  text-decoration: none;
}

#pres-listing:target, #login-nav:target {
  width: 20%;
  position: fixed;
  top:0;
}

#pres-listing:target + .page-wrap, #login-nav:target + .page-wrap {
  width: 80%;
}
#pres-listing:target + .page-wrap .open-menu, #login-nav:target + .page-wrap .open-login-menu {
  display: none;
}
#pres-listing:target + .page-wrap #close-menu, #login-nav:target + .page-wrap #close-login-menu {
  display: block;
}

.row-fluid .span2 {
   width: 200px;
   position: absolute;
   padding: 0;
   height: 100%;
   margin: 0;
   margin-top: 55px;
}

#signupcontainer {
  display: none;
}


#presentation-name {
  background-color: transparent;
  font-size: 1em;
  font-weight: 300;
  border-radius: 0;
  height: 30px;
  color: #389646;
  display: inline-block;
  border: 1px solid #389646;
  width: 93%;
  box-shadow: none;
  font-size: 1.2em;
  margin-bottom: 1em;
}

#fonts-list li img {
  width: 80px;
}


