.home {
color: #333333;
text-shadow: none;
background-color: #fff;
font: 13px Helvetica, arial, freesans, clean, sans-serif;
line-height: 1.4;
}


.header {
height: 38px;

}

.navbar {
height: 40px;
background: #dfdbdb;
outline: 1px solid black;
}

#showNum {
  font: 35px / 1 Courier;
  font-weight: bold;
}


.layout-btn {
  width: 54%;
  height: 40px
}

.arrows {
  background-image: url('/assets/ui2.jpg');
  width:200px;
  height: 150px;
  opacity: 0.7;
  position: fixed;
  bottom:20%;
  right: 33%;
  z-index: 99999;
}



#preview {
  position: fixed;
  width: 82%;
  height: 94%;
  -webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
-moz-transition: border linear 0.2s,box-shadow linear 0.2s;
-ms-transition: border linear 0.2s,box-shadow linear 0.2s;
-o-transition: border linear 0.2s,box-shadow linear 0.2s;
transition: border linear 0.2s,box-shadow linear 0.2s;
}

#preview:focus {
  border: 3px solid;
  border-color:rgba(237,29,137,0.8);
}

.controller {
position: relative;
padding: 8px 10px;
margin: 5px 0;
display: block;
text-shadow: 0 1px 0 #fff;
text-decoration: none;
border-top: 1px solid transparent;
outline: 0;
color: #4183c4;
font-size: 1.1em;
}

.separator {
position: relative;
display: block;
margin: 8px 0 6px;
height: 5px;
background-image: -webkit-radial-gradient(left top, farthest-side, #f4f4f4, rgba(244,244,244,0));
background-image: -moz-radial-gradient(left top, farthest-side, #f4f4f4, rgba(244,244,244,0));
background-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0));
margin-left: 1px;
}

.example-iframe {
  width: 400px;
  height: 300px;
}

.green-button {
  background-color: #389646;
  width: 100%;
  margin: 0 auto;
  height: 39px;
line-height: 39px;
text-indent: 18px;
display: block;
position: relative;
font-weight: 600;
  color: #fff;
}

.mode {
  border: 2px solid #389646;
  width: 100%;
  margin: 0 auto;
  height: 39px;
  line-height: 39px;
  text-indent: 18px;
  display: block;
  position: relative;
  font-weight: 600;
  color: #000;

  -webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
transition: all 1.5s ease;
}

ul.modes {
  margin-bottom: 0;
  padding: 0;
}

.mode.appear.active {
  background-color: #389646;
 
}

.green-button:hover {
 color: #fff;
}




.new-slide {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 3%;
  left:6%;
}

.copy-slide {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 3%;
  left:1%;
}

.delete-slide {
   width: 30px;
  height: 20px;
  display: block;
  position: absolute;
 bottom: 3%;
  left:11%;
}

.add-wallpaper {
  margin-left: 23px;
   margin-top: 8px;
  font-size: 1.5em;
  color: rgba(63,70,82, 0.9);
  text-shadow: 1px 1px 0 #ffffff;
  -webkit-transition: color 0.3s linear;
-moz-transition: color 0.3s linear;
transition: color 0.3s linear;
}

.add-wallpaper:hover {
    color: #389646;
    text-decoration: underline;
    cursor: pointer;
}

.add-picture{
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:16%;
}

.add-deco {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:22%;
}

.add-background {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:33%;
}

.add-icon {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  bottom: 3%;
  left:39%;
}

.add-edit {
  width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2%;
  left:6%;
}

.sort-slides {
   width: 30px;
  height: 20px;
  display: block;
  position: absolute;
  top: 2%;
  left: 2%;
}

.resize-img {
  width: 30px;
  height: 20px;
  color: #389646;
  position: absolute;
  top: 2%;
  left: 12%;
  display: none;
}

.icon-move {
  color: #389646;
  position: absolute;
  bottom: 5px;
  left: -50px;
 font-size: 25px;
}

.icon-trash {
  color: #389646;
  position: absolute;
  bottom: 5px;
  left: -90px;
  font-size: 25px;
}

.download:after {
     content: "\f0ed";
     font-family:'FontAwesome';
     position: absolute;
     right: 30px;
  }
.content:after {
     content: "\f054";
     font-family:'FontAwesome';
     position: absolute;
     right: 30px;
  }

.icon-2 {
font-size: 1.7em;
color: #389646;
position: relative;
margin: 1.2em;
margin-top: 6em;
}

.icon-22 {
font-size: 0.9em;
color: #389646;
position: relative;
padding: 9px;
 -webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
transition: all 1.5s ease;
}





.red-icon {
  color: #a74240;
  font-size: 0.9em;
  position: relative;
  padding: 9px;
-webkit-transition: all 1.5s ease;
-moz-transition: all 1.5s ease;
-o-transition: all 1.5s ease;
-ms-transition: all 1.5s ease;
transition: all 1.5s ease;
}


nav {
  position: fixed;
  left: 0;
  top: 20px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  height: 95%;
  overflow: auto;
  width: 60px;

}

nav ul {
  color: #444444;
  text-align: center;
  line-height: 40px;
  width: 40px;
  list-style-type: none;
  border: 2px solid #389646;
}
nav ul li {
  width: 40px;
  height: 40px;
  background: #ffffff;
  opacity: 1;
  margin-bottom: 1px;
  cursor: pointer;
  font: 400 16px/50px 'Lato', sans-serif;
}
nav ul li:hover {
  background: #ffffff;
  opacity: 0.8;
}
nav ul li:active {
  background: #ffffff;
  opacity: 0.5;
}

.popline-picture {
  width: 380px;
  margin-top: 5px;
  margin-left: -70px;
  position: relative;
  display: block;
  border-radius: 5px;
  font-size: 24px;
  padding: 20px 10px;
   -webkit-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
   box-shadow: inset 0px 0px 6px 0px rgba(0,0,0,0.3);
   line-height: 31px;
   font-weight: lighter;
   background-color: #389646;

}


.images {
 /* position: absolute;
  top: 0;*/
  background-color: #323232;
  text-align: center;
  padding: 1em 2em;
  border-bottom: 2px solid #444444;
  border-left: 2px solid #444444;
  border-right: 2px solid #444444; 
  height: 100px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space:nowrap

}

.images-absolute {
  background-color: #323232;
  text-align: center;
  padding: 1em 2em;
  position: fixed;
  margin: 25px 25%;
  z-index: 100;
  height: 60%;
  width: 500px;
    border-bottom: 2px solid #444444;
  border-left: 2px solid #444444;
  border-right: 2px solid #444444; 
  overflow-y: scroll;
   overflow-x: hidden;
}




.images img {
    margin: 2px;
    cursor: pointer;
    display:inline-block;
    *display:inline;/* For IE7*/
    *zoom:1;/* For IE7*/
    vertical-align:top;
 }

 .images-absolute img {
    margin: 2px;
    cursor: pointer;
    display:inline-block;
 }


.icon-layer-up, .icon-layer-up2{
    width:15px;
    height:15px;
    position:absolute;
    top:0px;
    background: #389646;
    padding: 10px;
    z-index: -1;
}

.icon-layer-down, .icon-layer-down2 {
    width:15px;
    height:15px;
    position:absolute;
    top:30px;
    background: #389646;
    color: #fff;
    padding: 10px;
    z-index: -1;  
}


.icon-trash1, .icon-trash2 {
   width:15px;
    height:15px;
    position:absolute;
    top:60px;
      left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;  
}

.icon-copy-el, .icon-copy-el2 {
   width:15px;
    height:15px;
    position:absolute;
    top:90px;
    left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;  
}

.icon-move {
   font-size: 0.5em;
    height:15px;
    width:15px;
    position:absolute;
    top: 0;
    left: 102%;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;
}


.font2 {
   font-size: 0.5em;
    width:15px;
    height:15px;
    position:absolute;
    top:90px;
    left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1;
}
.icon-font-size {
 width:15px;
    height:15px;
    position:absolute;
    top:120px;
    left: 0;
    color: #fff;
    background: #389646;
    padding: 10px;
    z-index: -1; 
}

.fonts-container , .fonts-size-container  {
  background-color: #389646;
  text-align: center;
  padding: 0.5em;
  position:absolute;
  top:0;
  right: 100%;
  z-index: 100;
  height: 200px;
  width: 100px;
  overflow: scroll;
}

.fonts-container ul, .fonts-size-container ul {
  list-style: none;
  margin: 0;
  }

.fonts-container ul li {
  font-size: 0.5em;
  cursor: pointer;
}

.fonts-size-container ul li {
   cursor: pointer;
   color: #ffffff;
   font-size: 0.6em;

}

.icon-check {
  margin-left: 1.5em;
  font-size: 0.9em;
}





